<div class="h-100 d-flex justify-content-center align-items-center flex-column">
  <div>
    <mat-card>
      <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
          <img
            class="mb-4"
            src="../../../../assets/logo.png"
            alt="ATS"
            width="60%"
          />
          <!-- <mat-error *ngIf="!loginValid">
            The username and password were not recognized
          </mat-error> -->
          <!--   username -->
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              [formControl]="username"
              name="username"
              required
              autofocus
            />
            <mat-icon matSuffix color="primary"
              ><span class="material-icons-outlined"
                >mail_outline</span
              ></mat-icon
            >
            <mat-error *ngIf="username.invalid">
              Invalid email address
            </mat-error>
          </mat-form-field>
          <!-- password -->
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              [formControl]="password"
              name="password"
              required
            />
            <mat-icon
              matSuffix
              (click)="hide = !hide"
              class="material-icons-outlined cursor-pointer"
              color="primary"
              >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
            >
            <mat-error *ngIf="password.invalid">
              Should be min. 6 characters
            </mat-error>
          </mat-form-field>

          <button
            class="m-2"
            mat-raised-button
            color="primary"
            [disabled]="!username.valid || !password.valid"
            title="Login"
          >
            <mat-icon color="white">login</mat-icon>
          </button>
          <div class="d-flex justify-content-between">
            <div class="m-2">
              <a
                routerLink="/signup"
                class="text-decoration-none"
                title="Signup?"
              >
                <mat-icon color="primary"
                  ><span class="material-icons-outlined">
                    how_to_reg
                  </span></mat-icon
                >
              </a>
            </div>
            <div class="m-2">
              <a
                routerLink="/forget"
                class="text-decoration-none"
                title="Forget Password?"
                ><mat-icon color="primary">password</mat-icon></a
              >
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-content>
        <button mat-button color="default" (click)="signInWithGoogle()">
          Signin with Google
          <img
            width="24"
            height="24"
            src="https://img.icons8.com/color/48/undefined/google-logo.png"
          />
        </button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
