<div class="h-100 d-flex justify-content-center align-items-center">
  <div>
    <mat-card>
      <mat-card-content>
        <div>
          <div class="m-2">
            <img
              class="mb-4"
              src="https://nikhilrstg18.github.io/offer_director/assets/logo.png"
              alt="ATS"
              width="60%"
            />
            <div>Link sent to your registered email. Please verify it.</div>
            <div>
              <a routerLink="/login" class="text-decoration-none" title="Login"
                ><mat-icon color="primary">login</mat-icon>
              </a>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
