<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar class="justify-content-center" [routerLink]="['/']"
      ><img
        src="https://nikhilrstg18.github.io/offer_director/assets/logo.png"
        alt="ATS"
        width="60%"
    /></mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/products']" title="Manage Products"
        ><span>Product</span>
        <span class="flex-expand"></span>
        <mat-icon color="primary">store</mat-icon></a
      >
      <a mat-list-item [routerLink]="['/offer']" title="Manage Offer">
        <span>Offer</span>
        <span class="flex-expand"></span>
        <mat-icon color="primary">assignment</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['/admin']" title="Manage Settings">
        <span>Admin</span>
        <span class="flex-expand"></span>
        <mat-icon color="primary">settings</mat-icon>
      </a>
      <a mat-list-item [routerLink]="['/']" title="User">
        <div class="d-flex w-100">
          <span>User</span>
          <span class="flex-expand"></span>
          <mat-icon color="primary">account_circle</mat-icon>
        </div>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Offer Director</span>
      <span class="flex-expand"></span>
      <img
        src="https://nikhilrstg18.github.io/offer_director/assets/quality.png"
        alt="ATS"
        height="100%"
      />
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
