<div class="h-100 d-flex justify-content-center align-items-center">
  <div>
    <mat-card>
      <mat-card-content>
        <form #signupForm="ngForm" (ngSubmit)="signUp()">
          <img
            class="mb-4"
            src="../../../../assets/logo.png"
            alt="ATS"
            width="60%"
          />
          <mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input
              matInput
              type="email"
              placeholder="Email"
              [formControl]="username"
              name="username"
              required
              autofocus
            />
            <mat-icon matSuffix color="primary"
              ><span class="material-icons-outlined"
                >mail_outline</span
              ></mat-icon
            >
            <mat-error *ngIf="username.invalid">
              Invalid email address
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              [formControl]="password"
              name="password"
              required
            />
            <mat-icon
              matSuffix
              (click)="hide = !hide"
              class="material-icons-outlined cursor-pointer"
              color="primary"
              >{{ hide ? "visibility_off" : "visibility" }}</mat-icon
            >
            <mat-error *ngIf="password.invalid">
              Should be min. 6 characters
            </mat-error>
          </mat-form-field>
          <button
            class="m-2"
            mat-raised-button
            color="primary"
            [disabled]="!username.valid || !password.valid"
            title="Sign Up"
          >
            <mat-icon color="white"
              ><span class="material-icons-outlined">
                how_to_reg
              </span></mat-icon
            >
          </button>
          <div>
            <div class="m-2">
              <a
                routerLink="/login"
                class="text-decoration-none"
                title="have a account? Login"
                ><mat-icon color="primary">login</mat-icon>
              </a>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
